* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

.head > h1 {
    font-size: 50px;
    margin: 20px;
}

.head > select {
    margin: 20px;
    border-style: none;
}

.album-container {
    width: 100%;
    padding: 25px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 0, 0.1);
    color: rgba(61, 105, 250, 0.5);
}

.head {
    width: 100vw;
    text-align: center;
}

.album-card {
    min-height: 200px;
    margin: 20px;
    background-color: rgba(0, 255, 195, 0.1);
    border: solid 3px rgba(157, 0, 255, 0.1);
    border-radius: 10px;
    text-align: center;
    flex-basis: calc(100% / 6);
    padding: 20px;
    flex-shrink: 1;
    position: relative;
}

.album-card > p {
    position: absolute;
    top: 5px;
    left: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    color: transparent;
}

.top-white {
    position: absolute;
    top: -3px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 3px;
}
.bot-white {
    position: absolute;
    bottom: -3px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 3px;
}

.album-card > h3 {
    margin: 10px 0;
}

.album-card > h6 {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%);
}

.album-card:hover {
    border: solid 3px rgba(157, 0, 255, 0.5);
}

.album-card:hover img {
    transform: scale(1.1);
    box-shadow: 0 4px 8px 0 rgba(157, 0, 255, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.album-card:hover .top-white {
    animation: animatedTop 0.5s linear infinite;
}

.album-card:hover .bot-white {
    animation: animatedBot 0.5s linear infinite;
}

@keyframes animatedTop {
    0% {
        left: 10%;
    }

    50% {
        left: calc(90% - 60px);
    }

    100% {
        left: 10%;
    }
}

@keyframes animatedBot {
    0% {
        right: 20%;
    }

    50% {
        right: calc(80% - 60px);
    }

    100% {
        right: 20%;
    }
}

.album-card:hover p {
    color: rgba(61, 105, 250, 0.5);
}

img {
    width: 100px;
    height: 100px;
}